name: Release - Build and Deploy
on:
  workflow_call:
    inputs:
      componentName:
        description: The component name using the workflow
        required: true
        type: string
      dockerTag:
        description: The Tag to be associated with the new docker image (optional)
        required: false
        type: string
      releaseNotes:
        description: The Release Notes associated with the Release (optional)
        required: false
        type: string
      releaseVersion:
        description: "The version to be Released (#.#.# | #.#.#-RC1)"
        required: false
        type: string
jobs:
  build:
    runs-on: ubuntu-22.04
    name: Build
    steps:
      # Checkout CI Repo
      - name: Checkout CI Repo
        uses: actions/checkout@v4
        with:
          path: secure-api-gateway-ci
          repository: SecureApiGateway/secure-api-gateway-ci
      # Checkout Calling Repo
      - name: Checkout Calling Repo
        uses: actions/checkout@v4
        with:
          path: ${{ inputs.componentName }}
          repository: SecureApiGateway/${{ inputs.componentName }}
          token: ${{ secrets.RELEASE_PAT }}
      # Prepare Environment
      - name: Prepare Environment
        run: |
          if grep -q REPO_REPLACE secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env; then
            sed -i -e 's|REPO_REPLACE|'"${{ vars.GAR_RELEASE_REPO }}"'|g' secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env
          fi
          if grep -q TAG_REPLACE secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env; then
            sed -i -e 's/TAG_REPLACE/'${{ inputs.dockerTag }}'/g' secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env
          fi
          if grep -q VERSION_REPLACE secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env; then
            sed -i -e 's/VERSION_REPLACE/'${{ inputs.releaseVersion }}'/g' secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env
          fi
          grep -v '^#' secure-api-gateway-ci/component-config/${{ inputs.componentName }}.env >> $GITHUB_ENV
      # Perform Checks on Settings
      - name: Check Environment Workflow Config
        run: |
          if [ "${{ env.STEPS_RELEASE_PREPARE_MAVEN_PROJECT }}" == "${{ env.STEPS_RELEASE_PREPARE_TAG_MANUALLY }}" ]; then
            echo "ERROR: STEPS_RELEASE_PREPARE_MAVEN_PROJECT & STEPS_RELEASE_PREPARE_TAG_MANUALLY Cannot both be true or false"
            exit 1
          fi
      # Auth GCP, SDK & Artifact Registry
      - name: Authentication
        uses: ./secure-api-gateway-ci/.github/actions/authentication
        if: env.STEPS_RELEASE_AUTHENTICATE == 'true'
        with:
          gcpKey: ${{ secrets.DEV_GAR_KEY }}
          garLocation: ${{ env.GAR_LOCATION }}
      # Set Maven Config
      - name: Set Maven Config
        uses: ./secure-api-gateway-ci/.github/actions/set-maven-config
        if: env.STEPS_RELEASE_SET_MAVEN_CONFIG == 'true'
        with:
          cache: ${{ env.CACHE }}
          javaArchitecture: ${{ env.JAVA_ARCHITECTURE }}
          javaDistribution: ${{ env.JAVA_DISTRIBUTION }}
          javaVersion: ${{ env.JAVA_VERSION }}
      # https://github.com/crazy-max/ghaction-import-gpg
      # https://httgp.com/signing-commits-in-github-actions/
      # Prepare the environment to sign the commits
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v5
        if: env.STEPS_RELEASE_SET_GPG_KEY == 'true'
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY_BOT }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE_BOT }}
          workdir: ${{ inputs.componentName }}
      # Remove Snapshot, Create Release Tag, Increment Version and set Snapshot
      - name: Remove Snapshot, Create Release Tag, Increment Version and set Snapshot
        if: env.STEPS_RELEASE_PREPARE_MAVEN_PROJECT == 'true'
        working-directory: ${{ inputs.componentName }}
        run : |
          ${{ env.STEPS_RELEASE_PREPARE_MAVEN_COMMANDS }}
        env:
          FR_ARTIFACTORY_USER: ${{ secrets.FR_ARTIFACTORY_USER }}
          FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD: ${{ secrets.FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD }}
      # Create Tag if not using Maven Step Above
      - name: Create Release Tag
        if: env.STEPS_RELEASE_PREPARE_TAG_MANUALLY == 'true'
        working-directory: ${{ inputs.componentName }}
        run: |
          git config user.name fropenbanking
          git config user.email obst@forgerock.com
          echo "Creating Release Tag: v${{ inputs.releaseVersion }}"
          git tag -a v${{ inputs.releaseVersion }} -m "Tag for release ${{ inputs.releaseVersion }}"
          git push origin v${{ inputs.releaseVersion }}
      # Increment Snapshot Versions (UI)
      - name: Increment Version Manually and Commit Code
        if: inputs.componentName == 'secure-api-gateway-ob-uk-ui'
        working-directory: ${{ inputs.componentName }}
        run: |
          git config user.name fropenbanking
          git config user.email obst@forgerock.com
          cd secure-api-gateway-ob-uk-ui-rcs
          npm version patch --no-git-tag-version
          git add package.json package-lock.json
          git commit -m "Prepare for the next development iteration"
          git push --force-with-lease
      # Checkout Tagged Code Created By Maven Plugin
      - name: Checkout Tagged Code
        uses: actions/checkout@v4
        with:
          path: ${{ inputs.componentName }}
          ref: v${{ inputs.releaseVersion }}
          repository: SecureApiGateway/${{ inputs.componentName }}
          token: ${{ secrets.RELEASE_PAT }}
      # Build and Push Artifacts to Maven
      - name: Build and Push Artifacts to Maven
        uses: ./secure-api-gateway-ci/.github/actions/build-artifact
        if: env.STEPS_RELEASE_DEPLOY_MAVEN_PROJECT == 'true'
        with:
          checkoutCode: false
          mavenBuildCommands: ${{ env.STEPS_RELEASE_DEPLOY_MAVEN_COMMANDS }}
          FR_ARTIFACTORY_USER: ${{ secrets.FR_ARTIFACTORY_USER }}
          FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD: ${{ secrets.FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD }}
          repositoryName: ${{ inputs.componentName }}
      # Build and Push Image to Artifact Registry
      - name: Build and Push Image to Artifact Registry
        uses: ./secure-api-gateway-ci/.github/actions/build-image
        if: env.STEPS_RELEASE_BUILD_DOCKER_IMAGE == 'true'
        with:
          checkoutCode: false
          dockerBuildCommands: ${{ env.STEPS_RELEASE_BUILD_DOCKER_COMMANDS }}
          FR_ARTIFACTORY_USER: ${{ secrets.FR_ARTIFACTORY_USER }}
          FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD: ${{ secrets.FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD }}
          repositoryName: ${{ inputs.componentName }}
      # Build and Push Helm Templates to Maven
      - name: Build and Push Helm Templates to Maven
        uses: ./secure-api-gateway-ci/.github/actions/build-helm-package
        if: env.STEPS_RELEASE_PUBLISH_HELM_PACKAGE == 'true'
        with:
          checkoutCode: false
          FR_ARTIFACTORY_REPO: ${{ secrets.FR_HELM_REPO }}
          FR_ARTIFACTORY_USER: ${{ secrets.FR_ARTIFACTORY_USER }}
          FR_ARTIFACTORY_USER_ACCESS_TOKEN: ${{ secrets.FR_ARTIFACTORY_USER_ACCESS_TOKEN }}
          FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD: ${{ secrets.FR_ARTIFACTORY_USER_ENCRYPTED_PASSWORD }}
          helmCreatePackageCommand: ${{ env.STEPS_RELEASE_PUBLISH_HELM_CREATE_COMMAND }}
          helmPublishPackageCommand: ${{ env.STEPS_RELEASE_PUBLISH_HELM_PUBLISH_COMMAND }}
          repositoryName: ${{ inputs.componentName }}
      # Create Release In GitHub
      - name: Create GitHub Release
        if: env.STEPS_RELEASE_CREATE_GITHUB_RELEASE == 'true'
        working-directory: ${{ inputs.componentName }}
        run: |
          if [[ ! "${{ inputs.releaseVersion }}" =~ "RC" ]]; then
            gh release create --verify-tag v${{ inputs.releaseVersion }} --title "Release v${{ inputs.releaseVersion }}" --notes "${{ inputs.releaseNotes }}"
          fi
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PAT }}
      # Auth & Push images to ITSS Artifact Registry
      - name: Authentication
        uses: ./secure-api-gateway-ci/.github/actions/authentication
        if: env.STEPS_RELEASE_ITSS_COMPONENT == 'true'
        with:
          gcpKey: ${{ secrets.ITSS_GAR_KEY }}
          garLocation: ${{ env.ITSS_GAR_LOCATION }}
      # Push to ITSS
      - name: Push Image To ITSS
        if: env.STEPS_RELEASE_ITSS_COMPONENT == 'true'
        run: |
          case ${{ inputs.componentName }} in
            secure-api-gateway-fapi-pep-as)
              component="fapi-pep-as"
              itssComponent="fapi-pep-as"
              ;;
            secure-api-gateway-fapi-pep-rs-ob)
              component="fapi-pep-rs-ob"
              itssComponent="fapi-pep-rs-ob"
              ;;
            secure-api-gateway-ob-uk-rcs)
              component="securebanking-openbanking-uk-rcs"
              itssComponent="secure-api-gateway-rcs"
              ;;
            secure-api-gateway-ob-uk-rs)
              component="securebanking-openbanking-uk-rs"
              itssComponent="secure-api-gateway-rs"
              ;;
            secure-api-gateway-ob-uk-ui)
              component="securebanking-ui"
              itssComponent="secure-api-gateway-rcs-ui"
              ;;
            secure-api-gateway-ob-uk-functional-tests)
              component="uk-functional-tests"
              itssComponent="secure-api-gateway-functional-tests"
              ;;
            secure-api-gateway-ob-uk-test-data-initializer)
              component="securebanking-test-data-initializer"
              itssComponent="secure-api-gateway-test-data-initializer"
              ;;
            *)
              echo "ERROR: Component not expected, please check"
              exit 1
              ;;
          esac
          if [ -n "$(docker images -q ${{ vars.GAR_RELEASE_REPO }}/securebanking/$component:${{ inputs.releaseVersion }} 2> /dev/null)" ]; then
            # Tag image for ITSS repo
            docker tag ${{ vars.GAR_RELEASE_REPO }}/securebanking/$component:${{ inputs.releaseVersion }} ${{ vars.ITSS_GAR_RELEASE_REPO }}/securebanking/base/$itssComponent:${{ inputs.releaseVersion }}
            docker push ${{ vars.ITSS_GAR_RELEASE_REPO }}/securebanking/base/$itssComponent:${{ inputs.releaseVersion }}
          fi